body {

    background: url("../img/home.jpg");
    -webkit-background-size: cover;
    -moz-backgroud-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
} 

.content {
    background-color:rgb(0, 0, 0, 0, 7);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 50px;
    scroll-padding-top: 250px;
    height: auto;
}

.center h1{
    text-align: center;
    font-size: xx-large;
}

#myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
}
#text{
    z-index: 100;
}

#video{
    z-index: -1;
}

li { 
    font-size:25px; 
    background:url(./img/home.mp4);
    background-repeat:no-repeat;
    z-index:99999;
}

/*.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
}/
