nav {
    width: auto;
    max-width: 500px;
    background-color: salmon;
    margin: 16px auto;
    position: absolute;
    top: 115px;
}
body {
    background-image: url('./img/home.jpg');
    background-size: cover;    /* Cover the whole element.*/
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: ;